# use this file as a template to create "data.env"
# make sure to not use wrap values in "quotes", otherwise kustomize treats them as part of the value
# and turns into '"quotes"' which can lead to problems
LAMBDA_URL=https://your-lambda.url
